.menu_item_title_var1 {
  font-family: "manicotti", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.menu_item_title_var2 {
  font-family: yink, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.recipe_text_color { 
  color: #0b5345
}

.recipe_background_color { 
  background-color: #faf9a3;
}
